<div class="cadastro-container">
    <div class="cadastro-column">

        <form class="mt-60" #clientesFrm="ngForm" (ngSubmit)="salvar()">

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Dados Pessoais</mat-card-title>
                </mat-card-header>

                <mat-card-content class="mt-20">
                    
                    <mat-form-field class="full-width">
                        <mat-label>Nome: *</mat-label>
                        <input type="text" [(ngModel)]="cliente.nome" name="nome" placeholder="Ex: José da Silva" matInput/>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Email: *</mat-label>
                        <input type="email" [(ngModel)]="cliente.email" name="email" placeholder="Digite seu email" matInput/>
                    </mat-form-field>

                    <mat-form-field style="width: 60%;">
                        <mat-label>CPF: *</mat-label>
                        <input type="text" [(ngModel)]="cliente.cpf" name="cpf" placeholder="Digite seu CPF" matInput/>
                    </mat-form-field>

                    <mat-form-field style="width: 50%;">
                        <mat-label>Data nascimento: *</mat-label>
                        <input type="text" [(ngModel)]="cliente.dataNascimento" name="dataNascimento" placeholder="Digite sua Data de Nascimento" matInput/>
                    </mat-form-field>

                </mat-card-content>

                <mat-card-actions>

                    @if (atualizando) {
                        <button mat-flat-button color="primary" type="submit">
                            <mat-icon fontIcon="refresh"></mat-icon>
                            Atualizar
                        </button>
                    } @else {
                        <button mat-flat-button color="primary" type="submit">
                            <mat-icon fontIcon="save"></mat-icon>
                            Salvar
                        </button>
                    }

                    <button mat-flat-button color="accent" class="ml-5">
                        <mat-icon fontIcon="backspace"></mat-icon>
                        Limpar
                    </button>
                    
                </mat-card-actions>

            </mat-card>

        </form>

    </div>
</div>