.cadastro-container {
	display: flex;
	justify-content: center;
}

.cadastro-column {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 800px;
}

.form-row {
	display: flex;
	gap: 16px;
}

