<div class="container">
    <div class="content">
        <form class="mt-60" #buscaForm="ngForm">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Consulta de Clientes</mat-card-title>
                </mat-card-header>

                <mat-card-content class="mt-20">
                    <div class="container"> <!--sempre tem q ser row e column qnd for adicionar campo-->
                        <div class="content">
                            <mat-form-field class="full-width">
                                <mat-label>Nome:</mat-label>
                                <input matInput placeholder="ex: José"/>
                            </mat-form-field> 
                        </div>
                    </div>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-flat-button color="primary" type="submit">
                        <mat-icon fontIcon="search"></mat-icon>
                        Pesquisar
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>>